<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Challenge Accepted!</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "ninjas/normalize.css" %}"/>
        <link rel="stylesheet" href="{% static "ninjas/skeleton.css" %}"/>
        <link rel="stylesheet" href="{% static "ninjas/styles.css" %}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="mySidenav" class="three columns">
                    <a href="#">My Profile</a>
                    <a href="{% url 'challenges:new' %}">Create Challenge</a>
                    <a href="#">Dojos</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>