<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Challenge Accepted!</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "ninjas/css/normalize.css" %}"/>
        <link rel="stylesheet" href="{% static "ninjas/css/skeleton.css" %}"/>
        <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'challenges/js/jquery.bracket.min.css' %}">
        <link rel="stylesheet"  href="{% static "challenges/css/styles.css" %}" media="screen" title="no title" charset="utf-8" media="screen" title="no title" charset="utf-8">
        {% block date_picker %}
        {% endblock %}      
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="mySidenav" class="three columns">
                    <h2 class="titles">Menu</h2>
                    <h6 class="username">ようこそ {{ request.user.username }}さん!</h6>
                    <a href="{% url 'ninjas:dashboard' %}" class="row nav">Challenge Dashboard</a>
                    <a href="{% url 'challenges:new' %}" class="row nav">Create Challenge</a>
                    <a href="{% url 'challenges:bouts' %}" class="row nav">Manage Bouts</a>
                    <a href="{% url 'ninjas:logout' %}" class="row nav">Logout</a>
                </div>
                <div class="nine columns">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>