{% extends 'challenges/base.html' %}
{% block content %}
    <h1>Manage bouts page</h1>
    <table>
        <thead>
            <tr>
                <th>Challenge Name</th>
                <th>Vs.</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bout in bouts %}
            <tr>
                <td>{{ bout.challenge_name }}</td>
                <td>{{ bout.opponent }}</td>
                <td>
                    <form action="{% url 'challenges:determine' bout_id=bout.bout_id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="result" value="True">
                        <input type="hidden" name="challenge_id" value={{bout.challenge_id}}>
                        <button type="submit" class="button-primary">Won</button>
                    </form>
                    <form action="{% url 'challenges:determine' bout_id=bout.bout_id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="challenge_id" value={{bout.challenge_id}}>
                        <input type="hidden" name="result" value="False">
                        <button type="submit" class="button-primary">Lost</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}