<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Challenge Accepted!</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "ninjas/css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/css/skeleton.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/css/styles.css" %}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="ten columns">
        <h1>Dashboard</h1>
      </div>
      <div class="two columns">
        <a href="{% url 'ninjas:logout' %}">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <nav>
          <h2>Menu</h2>
          <ul>
            <a href="#">My Profile</a>
            <a href="{% url 'ninjas:dashboard' %}">Challenge Dashboard</a>
            <a href="{% url 'challenges:new' %}">Create Challenge</a>
            <a href="#">Dojos</a>
            <a href="#">Settings</a>
          </ul>
        </nav>
      </div>
      <div class="nine columns">
        <h2>My Challenges</h2>
        <div>
          <table>
            <tr>
              <th>Challenge Name</th>
              <th>Description</th>
              <th>Commencement Date</th>
            </tr>
            {% for challenge in challenges %}
              {% if current_user in challenge.participants %}
                <tr>
                  <td><a href="{% url 'challenges:join' challenge_id=challenge.id %}">{{ challenge.name }}</a></td>
                  <td>{{ challenge.description }}</td>
                  <td>{{ challenge.start_date }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="nine columns">
        <h2>All Challenges</h2>
        <div>
          <table>
            <tr>
              <th>Challenge Name</th>
              <th>Commencement Date</th>
              <th>Last Day to Join</th>
            </tr>
            {% for challenge in challenges %}
            <tr>
              <td><a href="{% url 'challenges:join' challenge_id=challenge.id %}">{{ challenge.name }}</a></td>
              <td>{{ challenge.start_date }}</td>
              <td>{{ challenge.signup_end_date }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>