<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Challenge Accepted!</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "ninjas/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/skeleton.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/styles.css" %}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="ten columns">
        <h1>Dashboard</h1>
      </div>
      <div class="two columns">
        <a href="">Logout</a>
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <nav>
          <h2>Menu</h2>
          <ul>
            <li>Create Challenge</li>
            <li>Dojos</li>
            <li>My Profile</li>
            <li>Settings</li>
          </ul>
        </nav>
      </div>
      <div class="nine columns">
        <h2>My Challenges</h2>
        <div>
          <p>No challenges yet.</p>
        </div>
      </div>
      <div class="five columns">
        <h2>Open Challenges</h2>
        <div>
          <p>No open challenges.</p>
        </div>
      </div>
      <div class="four columns">
        <h2>In-progress Challenges</h2>
        <div>
          <p>No open challenges.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>