<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Challenge Accepted!</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "ninjas/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/skeleton.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/styles.css" %}"/>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="ten columns">
        <h1>Challenge Accepted!</h1>
      </div>
      <div class="two columns">
        <a href="{% url 'ninjas:register' %}" id="button-registration">Register</a>
        <a href="{% url 'ninjas:login' %}" id="button-login">Login</a>
      </div>
    </div>
    <div class="row options">
      <div class="four columns">
        <button class="button-primary">
          Initiate
        </button>
      </div>
      <div class="four columns">
        <button class="button-primary">
          Commence
        </button>
      </div>
      <div class="four columns">
        <button class="button-primary">
          Watch
        </button>
      </div>
    </div>
  </div>
</body>
</html>