<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Challenge Accepted!</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "ninjas/css/normalize.css" %}"/>
  <link rel="stylesheet" href="{% static "ninjas/css/skeleton.css" %}"/>
  <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
  <link rel="stylesheet"  href="{% static "challenges/css/styles.css" %}" media="screen" title="no title" charset="utf-8" media="screen" title="no title" charset="utf-8">  
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h1>Login</h1>
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li{% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form action="{% url 'ninjas:login' %}" method="POST" id="form-login">
          {% csrf_token %}
          {{ login_form }}
          <button type="submit" class="button-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>